*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDD4C5;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #3B7CD1;
}
.wrap1 ul{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    list-style: none;
}
.wrap1 li{
    margin-top: 17.5px;
    font-size:22px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
li:hover{
    color: rgb(204, 204, 204);
    cursor: pointer;
}
.wrap1{
    height: 100%;
    width: 70%;
    /* background-color: chocolate; */
    margin-left: 15%;
}
.img img{
    width: 100%;
    height: 600px;
}
.name{
    width: 70%;
    height: 80px;
     /* background-color: aqua; */
     margin-top: 20px;
     margin-left: 15%;
     text-align: center;
     /* padding-top: 7px; */
     font-size: 30px;
     color: brown;
     font-weight: bolder;
    font-style: italic;
    animation: swapnali 5s linear infinite normal;
}
.wrap{
    /* background-color: aqua; */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.pic{
    /* background-color: brown; */
    height: 350px;
    width: 30%;
}
.pic img{
    height: 100%;
    width: 100%;
}
.text{
    padding-top: 40px;
    width: 50%;
    /* background-color: blue; */
    height: 350px;
    font-size: 25px;
}
.child1{
    height: 350px;
    width: 40%;
}
.child1 img{
    height: 100%;
    width: 80%;
} 
.footer{
    height: 80px;
    width: 100%;
    background-color: #3B7CD1;
    margin-top: 30px;
}
.footer ul{
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
    list-style: none;
    font-size: 23px;
}